default-lease-time 600;
max-lease-time 7200;
authoritative;


ddns-update-style interim;
update-static-leases on;
ignore client-updates;
# NOTE: For DLZ/BIND9 integration, ensure RNDC or GSS-TSIG if desired.


option domain-name "{{ dhcp_domain_name }}";
option domain-name-servers {{ dhcp_dns_servers | join(", ") }};
option ntp-servers {{ dhcp_ntp_servers | join(", ") }};


subnet {{ dhcp_subnet }} netmask {{ dhcp_netmask }} {
option routers {{ dhcp_router }};
range {{ dhcp_range_start }} {{ dhcp_range_end }};
}